# Ignorer les fichiers de configuration

# Ignorer les fichiers d'environnement
.env
.env.local
.python-version
.venv

# Ignorer les corpus de texte
data/
articles/

# Ignorer les fichiers ipynb
*.ipynb