# Ignore config
backend/config.py

# Ignore environment files
.DS_Store
*/__pycache__/*
backend/__pycache__
__pycache__/
*.py[cod]
/venv
__pycache__/

# Ignore text corpora
data/
articles/

# Ignore ipynb files
*.ipynb

# Ignore Node.js modules
node_modules/
