# Ignorer les fichiers de configuration

# Ignorer les fichiers d'environnement

/venv

# Ignorer les corpus de texte
data/
articles/

# Ignorer les fichiers ipynb
*.ipynb

# Ignorer les modules Node.js
node_modules/
