@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body {
  font-family: 'Bebas Neue', cursive;
  background-color: #f4f4f9;
  display: flex;
}

.App {
  text-align: center;
  font-family: Montserrat, sans-serif;
  padding: 40px;
}

.App-logo {
  width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
}

.App-header {
  background-color: #366d38a5;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loupe-container {
  padding-top: 5px;
  font-family: 'Montserrat', sans-serif;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  width: 350px;
  margin-left: 100px;
  text-align: left;

}

.loupe {
  width: 24px;
  height: auto;
}

.loupe-text {
  font-size: 30px;
  color: #333;
  font-weight: bold;
}

h2.explore-header {
  font-size: 20px;
  color: #333;
  font-weight: normal;
  align-items: flex-start;
}

.search-inputs {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-inputs label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #333;
}

input[type="text"] {
  padding: 12px;
  width: 300px; /* Augmenté pour plus de visibilité */
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 20px; /* Forme plus arrondie pour un look moderne */
  font-size: 16px;
  transition: all 0.3s ease; /* Transition pour focus */
  background-color: #fff;
}

input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Effet au focus pour plus de visibilité */
}

button {
  background-color: #0895ce; /* Changement de couleur pour éviter le bleu saturé */
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 20px; /* Bouton plus arrondi */
  cursor: pointer;
  font-size: 16px;
  margin-top: 0px;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out; /* Transition au survol */
}

button:hover {
  background-color: #218838; /* Couleur plus sombre au survol */
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.results-container {
  margin-top: 40px;
}

.results-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.result-item {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.result-item h3 {
  font-size: 18px;
  color: #333;
}

.result-item p {
  color: #555;
  font-size: 14px;
}

.result-item a {
  color: #007bff;
  text-decoration: none;
}

.result-item a:hover {
  text-decoration: underline;
}
