@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

body {
  font-family: 'Bebas Neue', cursive;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f6ede3;
}

.App-logo {
  width: 30%;
  display: block;
  margin: 0 auto;
  height: auto;
}

.loupe-container {
  padding-top: 20px;
  font-family: 'Atkinson Hyperlegible Next', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.loupe {
  width: 24px;
  height: auto;
}

.loupe-text {
  font-size: 16px;
}

.App-header {
  background-color: #9e94c1;
  padding: 20px;
  /* border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.search-inputs, .checkboxes {
  margin-bottom: 15px;
}

.search-inputs label, .checkboxes label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 8px;
  width: 250px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.results {
  margin-top: 20px;
}

.results-list {
  list-style-type: none;
  padding: 0;
}

.result-item {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.result-item strong {
  font-size: 16px;
}

.result-item p {
  margin: 5px 0;
  color: #555;
}